body{
    background:var(--primary-color);
}
.navbar h2{
    font-size: 30px;
    color: var(--secondary-color);
    
}
#icon{
    width: 30px;
    flex: 1;
    float: right;
    cursor: pointer;
}
:root{
    --primary-color:#fcf8f8;
    --secondary-color:#0e0d0d;

    
}
.dark-theme{
    --primary-color:#080808;
    --secondary-color:#fcf5f5;
}
#nav{
float: right;
padding: 20px;
justify-content: space-between;
font-size:20px ;
color: #1b1919;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    width: 70%;
}
#home-image{
    position: relative;
    float: left;
    justify-content: left;
    padding-left: 10%;
    margin-left: 20px;
}
#home-image img{
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    animation: floatImage 4s ease-in-out infinite;
    transition:0.4s ease ;
    box-shadow: 0 0 25px #c5971a;
    cursor: pointer;
    margin-left: 35px;
    
    
}
#home-image img:hover{
box-shadow: 0 0 25px #e4868a,
            0 0 35px #e9989c,
            0 0 45px #d6797e;
}
@keyframes floatImage{
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}
#home-content{
    margin-left: 10px;
    width: 90%;
    flex-wrap: wrap;
}
#home-content h3{
    font-size: 3.7rem;
    font-weight: 700;
    color: var(--secondary-color);
}
#home-content h2{
    font-size: 30px;
    color: var(--secondary-color);
}
#home-content p{
   max-width:600px;
    font-size: 20px;
    color:var(--secondary-color);
    flex-wrap: wrap;
    
}
span{
    color: #0c10ec;
    font-weight: 900;
    font-size: 4rem;
}
.btn{
    display: flex;
    justify-content: center;
    height: 20px;
}
#resume-btn{
    background: #e43905;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    color: #fff;
    height: 40px;
    box-shadow: 0 0 25px #4a04ec;
    cursor: pointer;
}
#resume-btn:hover{
    background: #16df42;
    box-shadow: 0 0 25px #f70404;
}
